@font-face {
  font-family: 'Tin Birdhouse';
  src: url('http://www.fontsaddict.com/fontface/tin-birdhouse.ttf');
}
b{
  font-family: 'Tin Birdhouse';
}
body {
  background: url(../img/woodworm.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Tin Birdhouse';
}
h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-weight: 900;
}
@media (max-width: 480px) {
  h1,
  h2,
  h3,
  h4{
    font-size: 150%;
  }
}
p {
  font-size: 1.25em;
  line-height: 1.6;
  color: #000;
}

.brand{
  display: none;
}

.navbar-brand {
  margin-bottom: 7%;
}

.navbar-nav {
  text-transform: uppercase;
}

.img-full {
  min-width: 100%;
}

.brand-name {
  font-weight: 700;
  font-size: 1.5em;
  text-transform: capitalize;
  letter-spacing: normal;
}

.tagline-divider {
  margin: 15px auto 3px;
  border-color: #999999;
  max-width: 250px;
}

.intro-text {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.25em;
  font-weight: 400;
}

.img-border {
  float: none;
  margin: 0 auto 0;
  border: #999999 solid 1px;
}

.img-left {
  float: none;
  margin: 0 auto 0;
}

footer {
  background: rgba(0, 0, 0, .7);;
}

footer p {
  color: #80A380;
  margin: 0;
}

@media screen and (min-width: 768px) {

.brand {
  display: inherit;
  background: rgba(0, 0, 0, 0.6);
  font-weight: 700;
  font-size: 5em;
  line-height: normal;
  text-align: center;
  width: inherit;
  margin: 0;
  padding: 1%;
  color: #fff;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.7);
}

.top-divider {
  margin-top: 0;
}

.img-left {
  float: left;
  margin-right: 25px;
}

.address-bar {
  display: inherit;
  text-align: center;
  margin: 0;
  padding: 0 0 40px;
  font-size: 1.25em;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.navbar {
  border-radius: 0;
}

.navbar-header {
  display: none;
}

.navbar {
  min-height: 0;
}
.navbar-nav > li > a {
  padding-top:10px !important; padding-bottom:10px !important;
}
.navbar {
  min-height:40px !important;
}
.nav>li>a 
{
  padding: 50px; 
}

.navbar-nav>li>a {
  line-height: normal;
}

.navbar-nav {
  float: none;
  margin: 0 auto;
  display: table;
  table-layout: fixed;
  font-size: 1.25em;
}

}

@media screen and (min-width: 1200px) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
}


/*///////////////////////////////////////////////////////*/
/*colors on logo*/
/*#C2E1BE
#80A380
#A4D4A1*/
/*/end of colors*/

#home_subhead{
  background: rgba(0, 0, 0, .7);
  color: #80A380;
  margin:0px;
  padding: 1% 1% 1% 2%;
}

#home_text{
  background-color: #f3f3e2;
  padding: 2% 2% 2% 2%;
}
#home_subhead h2{
  margin: 0px;
}
#home_text p{
  color: #5f5f5e;
}
.navbar-default {
  background: #424242;
  border: none;
  margin-bottom: 0px;
  width:inherit;
}

#foot{
  min-width: 100%;
  width: inherit;
}
#foot p{
  color:#80A380;
  margin-bottom: 0px;
}

li:hover{
  background: rgba(0, 0, 0, 0.1);
  }

.navbar-header{
  background: rgba(0, 0, 0, 0.6);
}
.container{
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow:    0px 0px 30px 0px rgba(0, 0, 0, 1);
  box-shadow:         0px 0px 30px 0px rgba(0, 0, 0, 1);
}

.navbar-default ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: inline-block;    
}

.span12 img{
  margin: 1%;
}

.span12{
  padding: 2%;
  background-color: #f3f3e2;
  color: #5f5f5e;
}
iframe{
  margin: 2%;
}
#contact_box{
   background-color: #f3f3e2;
}
#contact_div_right{
  padding: 10%;
}
#contact_div_right p {
  height: 100%;
  margin-bottom: 0px; margin-left: 2%;
  font-size: 150%;
  color: #5f5f5e;
}

img { 
  max-width: 100%; height: auto; 
}

#services{
  padding: 2%;
  background-color: #f3f3e2;
  color: #5f5f5e;
}
footer {
  position: bottom;
  bottom: 0;
  left: 0;
  right: 0;
  padding: .5%;
  width: inherit;
  margin: inherit;
}
.tooltip-social{
 font-family: Verdana, Geneva, sans-serif;
}
#home_text li{
  font-size: 1.25em;
  color: #5f5f5e;
  font-weight: bold;
}

.list-inline {
  margin: 0% 0%;
}
.list-inline li{
  padding: 0px;
}
#project_div{
  background-color: #f3f3e2;
}